<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>
		<!-- give a alias for model -->
		<typeAlias alias="UserInfo" type="com.duxact.pm.entity.UserInfo"></typeAlias>
		<typeAlias alias="UserRole" type="com.duxact.pm.entity.UserRole"></typeAlias>
	</typeAliases>
</configuration>